@font-face {
  font-family: "rock";
  src: url(../fonts/Rockabilly.ttf);
}

.countdown-container {
  font-family: "rock";
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  font-size: 3rem;
}

.time-text {
  font-size: 2rem;
}
