style attribute {
  --background-color: var(--colors-grey-200);
  --rows: 9;
  --width: 1224px;
  --m-rows: 9;
  --row-gap: 16px;
  --row-size: 48px;
  --column-gap: 24px;
  --grid-width: 1224px;
  --column-count: 12;
  --block-padding: 16px 0;
  --block-padding-top: 16px;
  --block-padding-right: 0;
  --block-padding-bottom: 16px;
  --block-padding-left: 0;
  --content-width: 1600px;
  --content-padding: 16px;
  --m-block-padding: 16px 16px 16px 16px;
  --oldContentWidth: 1600px;
}

.details-bg {
  background-image: url("../images/president.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-container {
  text-align: center;
  display: grid;
  column-gap: 10px;
  padding-top: 30px;
  /* position: relative; */
}

.grid-container {
  grid-row: 1 / span 3;
}

.header-p-container {
  grid-row-start: 2;
}
