:root {
  --bs-pink: #dc3545;
}

@font-face {
  font-family: headerFont;
  src: url(../fonts/Blacksword.otf);
}

.navbar {
  /* display: grid; */
  justify-content: center;
  background: url("../images/arches.png");
  border-bottom: 4px double #4a4a4a;
  font-size: 15px;
  font-weight: 500;
  width: 100vw;
}

.name-title {
  font-family: headerFont;
  color: var(--bs-pink);
  padding: 35px 20px 5px 20px;
}

/* a.nav-link:active {
  background: black;
} */
