@font-face {
  font-family: edo;
  src: url(../fonts/edosz.ttf);
}
.me-auto .navbar .nav {
  width: 50%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px !important;
}

.navbar-toggler {
  border: 0.2px solid rgb(187, 187, 187) !important;
  padding: 0.8rem 1.2rem;
}

.btn-link {
  font-family: textFont;
  font-weight: bold;
  height: 100%;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 1px;
  width: 50%;
  margin-top: 20px !important;
}

/* Question for Willow */
/* flat or transparent background for nav button hover */
.btn-link:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgb(240, 72, 164);
}

.sticky-top {
  top: 20px !important;
}
