@font-face {
  font-family: "milton";
  src: url(../fonts/Milton_bold.otf);
}

@font-face {
  font-family: "rock";
  src: url(../fonts/Rockabilly.ttf);
}

@font-face {
  font-family: "textFont";
  src: url(../fonts/text-font.woff2);
}

.home-header {
  font-size: 90px;
  font-family: textFont;
  text-align: left !important;
}

.c-soon-header {
  font-size: 3rem;
  text-align: center;
  font-family: textFont;
  text-transform: none;
}

.home-container {
  background: url(../images/c-color-8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* padding-top: 65px; */
  margin-right: auto;
  color: white;
}

.home-grid {
  /* margin-top: 400px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: textFont;
  /* color: #f8f9fa; */
  color: black;
  margin-left: auto;
}

.p-quadrant-2 {
  font-family: textFont;
}
