/* body {
  font-family: "Lato", sans-serif;
} */
@font-face {
  font-family: "milton";
  src: url(../fonts/Milton_bold.otf);
}

.home-header {
  font-size: 110px;
  font-family: "milton";
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
