@font-face {
  font-family: "textFont";
  src: url(../fonts/text-font.woff2);
}

/* @font-face {
  font-family: "cursiveText";
  src: url(../fonts/Blacksword.otf);
} */

@font-face {
  font-family: "milton";
  src: url(../fonts/Milton_bold.otf);
}

.photo-container {
  width: fit-content;
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.photo-header h1 {
  font-family: milton;
  color: #414141;
  font-size: 110px;
  text-align: center;
  padding-top: 25px;
}

/* .photo-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-bottom: 4px double #4a4a4a;
} */

.photo-header p:nth-of-type(1) {
  margin: auto;
  font-style: italic;
  /* inline-size: 900px; */
  font-size: 0.9rem;
  padding-top: 1px;
  letter-spacing: 1.5px;
}

.album-image {
  width: calc(33% - 6px);
  filter: none;
  transition-duration: 0.3s;
  max-width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  /* border: 0.5px solid black; */
  border-radius: 5px;
  margin: 4px;
}
