#root {
  padding: 0 auto !important;
}

@font-face {
  font-family: "textFont";
  src: url(../fonts/text-font.woff2);
}

@font-face {
  font-family: "rock";
  src: url(../fonts/Rockabilly.ttf);
}

@media (max-width: 850px) {
  html,
  body {
    margin: 0 auto;
  }

  h1 {
    font-size: 35px !important;
  }

  .photo-container {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 2fr);
    text-align: center;
    margin: 5px;
    font-size: 25px !important;
  }

  .photo-header p:nth-of-type(1) {
    width: 100%;
  }

  .navbar-toggler {
    border: 0.2px solid rgb(187, 187, 187) !important;
    padding: 0.05rem 0.4rem !important;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-link {
    font-size: 12px;
    justify-content: center;
  }

  .home-grid {
    display: flex !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
    width: 100%;
    flex-direction: column !important;
    align-content: space-around;
    justify-content: flex-end !important;
    flex-wrap: wrap;
    color: white;
    padding: 10px !important;
  }

  .home-grid p {
    font-size: 32px;
    color: white;
    font-weight: bolder;
  }

  .home-header {
    font-size: 60px !important;
    padding: 0 !important;
    text-align: center !important;
    font-family: rock !important;
  }

  .home-container {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: center !important;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .schedule-container {
    padding: 5px;
  }

  .schedule-header p {
    width: 100%;
    font-size: 12px !important;
  }

  .travel-container {
    display: flex !important;
    flex-direction: column;
    width: 90vw;
  }

  .big-header {
    font-size: 60px !important;
  }

  .travel-header p {
    font-style: italic;
    word-wrap: normal !important;
    padding-top: 1px;
    font-size: 12px !important;
  }

  .airport p:nth-of-type(2) {
    font-style: italic;
    word-wrap: normal;
    padding-top: 1px;
    letter-spacing: 1.5px;
    font-size: 12px;
  }

  .hotel-1,
  .hotel-2 {
    border-bottom: 4px double #4a4a4a;
    border-right: none !important;
  }

  .hotel-1,
  .hotel-2,
  .hotel-3 p {
    font-size: 12px;
  }

  .registry-container h1 {
    /* padding: auto; */
    font-size: 45px;
  }

  .registry-container p:nth-child(2) {
    font-size: 18px;
  }

  .container-question,
  .container-answer {
    display: grid !important;
    height: 100% !important;
    justify-items: center;
  }

  .centered-left {
    padding: 3px !important;
  }

  .centered-left p {
    font-size: 15px !important;
  }

  .centered p {
    font-size: 15px !important;
  }

  .centered {
    padding: 2px !important;
    letter-spacing: normal !important;
  }
}
