@font-face {
  font-family: "textFont";
  src: url(../fonts/text-font.woff2);
}

h1 {
  padding-top: 50px;
  font-family: textFont;
  color: #414141;
  font-size: 110px;
  text-align: center;
}

.registry-container {
  padding-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.registry-links img {
  height: 300px;
  width: 300px;
  cursor: pointer;
  margin: 80px;
  border-radius: 50%;
  padding-bottom: 0;
  box-shadow: 0px 3px 30px rgba(175, 38, 255, 0.692);
}

/* 
.registry-links:hover {
  background: rgba(114, 114, 114, 0.315);
} */
