:root {
  --bs-pink: #dc3545;
}

@font-face {
  font-family: headerFont;
  src: url(N:\wedding-site\wedding-site\src\fonts\Blacksword.otf);
}

/* .App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(7px + 1);
  color: black;
} */

h1 {
  font-family: headerFont;
}

.navbar {
  justify-content: center;
}

/* a.nav-link:active {
  background: black;
} */
